<div class="event_block">
	<div class="wrapper_wide clearfix">
		<%= image_tag("sf.png", class: "event_image") %>
		<div class="event_description_block">
			<h1>Event Title</h1>
			<p>Monday, May 31st</p>
			<p>This is a sample description of the event! Look at this description!
			This is a sample description of the event! Look at this description!
			This is a sample description of the event! Look at this description!</p>
		</div>
	</div>	
</div>