<div class="event_block">
	<div class="wrapper_wide clearfix">
		<% @community.events.each do |event| %>
		<%= link_to image_tag("sf.png", class: "event_image"), [@community, event] %>
		<div class="event_description_block">
			<h1><%= event.title %></h1>
			<p><%= event.date.strftime("%A, %B %d %Y") %></p>
			<p><%= event.description %></p>
		<% end %>
		</div>
	</div>	
</div>