<h1>— Neighborhoods of <%= @community.name %> —</h1>

<div class="clearfix">
	<% @community.neighborhoods.each do |f| %>
	<div class="col-30">
		<%= link_to image_tag(f.profile_picture.url()), [@community, f] %>
	</div>
	<% end %>
</div>