<h1>— Neighborhoods of <%= @community.name %> —</h1>

<div class="clearfix">
	<div class="col-30">
		<%= image_tag("sf.png") %>
	</div>
	<div class="col-30">
		<%= image_tag("dc.png") %>
	</div>
	<div class="col-30">
		<%= image_tag("sea.png") %>
	</div>
</div>